@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply text-gray-300;
  @apply bg-customgreys-primarybg;
}

@layer base {
  :root {
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

:root {
  --radius: 8px;
}

input[type='color'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.custom-scrollbar {
  @apply overflow-auto scrollbar-thin scrollbar-thumb-primary-600 scrollbar-track-customgreys-primarybg scrollbar-thumb-rounded-sm scrollbar-track-rounded-xl;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.root-layout {
  @apply mx-auto w-full h-full justify-center items-center custom-scrollbar p-0;
}

/* LOADER */
.loading {
  @apply fixed inset-0 flex gap-2 items-center justify-center bg-background/50;
}

.loading__spinner {
  @apply w-6 h-6 animate-spin text-primary-700;
}

.loading__text {
  @apply text-sm font-medium text-primary-700;
}

/* LANDING */
.landing-layout {
  @apply flex flex-col min-h-screen w-full;
}

.landing-layout__main {
  @apply flex flex-grow w-full h-full justify-center items-center;
}

.landing-navbar {
  @apply w-full flex justify-center items-center bg-customgreys-primarybg;
}

.landing-navbar__button {
  @apply hover:bg-primary-500;
}

.landing-navbar__container {
  @apply flex justify-between items-center w-3/4 py-8;
}

.landing-navbar__logo {
  @apply flex justify-between items-center gap-10;
}

.landing-navbar__name {
  @apply font-bold text-lg sm:text-xl hover:text-customgreys-dirtyGrey;
}

/* LANDING HERO*/
.landing__hero {
  @apply flex justify-between items-center mt-12 h-[500px];
}

.landing__hero-content {
  @apply basis-2/5 px-16 mx-auto;
}

.landing__hero-title {
  @apply text-4xl font-bold mb-4;
}

.landing__hero-description {
  @apply text-lg text-gray-400 mb-8;
}
.landing__hero-images {
  @apply basis-3/5 h-full relative overflow-hidden rounded-lg;
}

.landing__hero-image {
  @apply object-cover transition-opacity duration-500 opacity-0;
}

.landing__hero-image--active {
  @apply opacity-100;
}

.landing__featured {
  @apply mx-auto py-12 mt-10;
}

.landing__featured-title {
  @apply text-2xl sm:text-3xl font-semibold mb-4;
}

.landing__featured-description {
  @apply text-sm sm:text-base text-primary-400;
}

.landing__featured-guides {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6 mt-16;
}

.landing__featured-guide {
  @apply bg-customgreys-secondarybg p-4 overflow-hidden rounded-lg hover:bg-white-100/10 transition duration-200 flex flex-col cursor-pointer h-full;
}

.landing__featured-guide-image-container {
  @apply relative w-auto pt-[56.25%];
}

.landing__featured-guide-image {
  @apply object-cover transition-transform;
}

.landing__featured-guide-content {
  @apply p-4 flex flex-col justify-between flex-grow;
}

.landing__featured-guide-title {
  @apply font-semibold line-clamp-1;
}

.landing__featured-guide-description {
  @apply text-sm mt-1 line-clamp-2 text-gray-400;
}

.landing__featured-guide-author {
  @apply text-customgreys-dirtyGrey text-sm mt-4;
}

/* FOOTER */
.footer {
  @apply bg-customgreys-secondarybg bottom-0 w-full py-8 mt-10 text-center text-sm;
}

.footer__links {
  @apply mt-2;
}

.footer__link {
  @apply text-primary-500 mx-2;
}

/* LOGIN */
.auth-layout {
  @apply flex flex-col w-full h-full justify-center items-center;
}

.auth__main {
  @apply flex flex-col w-3/4 sm:w-1/2 lg:w-[28%] bg-customgreys-darkGrey rounded-lg p-8;
}

.auth__title {
  @apply text-2xl font-semibold mb-2 text-center;
}

.auth__subtitle {
  @apply text-sm text-gray-400 mb-4 text-center;
}

.login__oauth-container {
  @apply flex flex-col justify-around items-center gap-5 my-5;
}

.login__auth-button {
  @apply w-full h-10 font-semibold text-md hover:!bg-customgreys-secondarybg !border-customgreys-secondarybg;
}

.auth__break {
  @apply flex flex-row justify-between items-center gap-3 mt-2;
}

.auth__label {
  @apply text-lg;
}

.auth__input {
  @apply border-customgreys-secondarybg rounded-md w-full h-10 px-4 focus:border-primary-500;
}

.login__submit {
  @apply bg-primary-600 w-full mt-6 hover:!bg-primary-700 text-customgreys-darkGrey;
}
/* DASHBOARD */

.dashboard-layout {
  @apply flex flex-row min-h-screen w-full;
}

.dashboard__main {
  @apply flex flex-col w-full h-full py-20 px-16;
}

.dashboard__header {
  @apply flex flex-col gap-2 mb-5;
}

.dashboard__title {
  @apply text-3xl font-semibold;
}

.dashboard__subtitle {
  @apply text-md text-gray-400;
}

.dashboard__guides {
  @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-7 mt-6 w-full;
}

/* GUIDE CARD*/
.guide-card {
  @apply flex flex-col w-full h-[340px] xl:h-[380px] border-none bg-customgreys-secondarybg overflow-hidden cursor-pointer hover:bg-white-100/10 transition duration-200;
}

.guide-card__header {
  @apply h-[350px] xl:h-[380px] p-0 overflow-hidden;
}

.guide-card__image {
  @apply w-full h-full object-cover transition-transform;
}

.guide-card__content {
  @apply flex-grow flex flex-col justify-between w-full h-full p-6;
}

.guide-card__title {
  @apply text-md lg:text-lg font-semibold line-clamp-2;
}

.guide-card__footer {
  @apply p-0 flex justify-between;
}

.guide-card__category {
  @apply text-sm bg-customgreys-secondarybg rounded-full px-3 py-2 text-gray-400;
}

/* GUIDE EDIT PAGE */
.guide-edit__layout {
  @apply flex flex-col min-h-screen w-full bg-customgreys-secondarybg;
}

.guide-edit__main {
  @apply flex flex-col w-full h-full p-20 gap-6 overflow-hidden;
}

.guide-edit__back-button {
  @apply flex items-center gap-2 !text-primary-500 w-2/12 hover:!bg-primary-500 hover:!text-customgreys-darkerGrey;
}

.guide-edit__save-button {
  @apply flex items-center gap-2 bg-primary-500 hover:!bg-primary-700 text-customgreys-darkerGrey hover:!text-white-50;
}

.guide-edit__switch {
  @apply data-[state=checked]:!bg-green-500 data-[state=unchecked]:!bg-gray-300 flex items-center space-x-2;
}

.guide-edit__form {
  @apply flex flex-col sm:flex-row sm:justify-between w-full;
}

.guide-edit__form-box {
  @apply flex flex-col sm:w-1/2;
}

.guide-edit__form-label {
  @apply font-semibold text-md text-gray-400;
}

.guide-edit__form-input {
  @apply bg-customgreys-primarybg border-none;
}

.guide-edit__form-textarea {
  @apply bg-customgreys-primarybg border-none h-40;
}

.guide-edit__form-thumbnail {
  @apply h-[100px] lg:h-[180px] xl:h-[220-px] p-0 overflow-hidden w-1/2;
}

.guide-edit__form-section-box {
  @apply bg-customgreys-primarybg rounded-lg px-8 py-5 max-h-[450px] overflow-y-scroll pb-10 custom-scrollbar;
}

.guide-edit__form-create-section-button {
  @apply text-primary-700 hover:!text-primary-500;
}

.guide-edit__form-sections {
  @apply flex flex-col gap-4 rounded-md box-border transition-all duration-1000 ease-in-out;
}

.guide-edit__form-whole-section {
  @apply flex flex-col gap-2 transition-all duration-1000 ease-in-out overflow-hidden;
}

.guide-edit__form-section {
  @apply w-full bg-customgreys-darkGrey p-4 rounded-sm flex flex-col gap-4;
}

.guide-edit__form-section-title {
  @apply text-md;
}

.guide-edit__form-section-description {
  @apply text-sm text-gray-400;
}

.guide-edit__form-create-chapter-button {
  @apply text-primary-700 hover:!text-primary-500 text-[0.8rem] p-0;
}

.guide-edit__form-chapters {
  @apply flex flex-col gap-2 transition-all duration-1000 ease-in-out;
}

.guide-edit_form-chapter {
  @apply flex flex-row justify-between pl-3 py-1 bg-slate-900 items-center rounded-sm;
}

.guide-edit__section-modal {
  @apply sm:max-w-[450px] bg-customgreys-primarybg rounded-lg border-customgreys-darkerGrey;
}

.guide-edit__section-modal-input {
  @apply border-customgreys-darkerGrey focus:border-primary-500 col-span-3;
}

.guide-edit__section-save-button {
  @apply border-primary-500 text-primary-500 hover:!bg-primary-500 hover:!text-black;
}

.guide-edit__quiz {
  @apply flex flex-col h-[200px] justify-between overflow-auto gap-6;
}

.guide-edit__quiz-question {
  @apply flex flex-row w-full bg-[#202024] p-2  rounded-md;
}

/* GUIDE VIEW PAGE */
.guide__layout {
  @apply flex flex-col min-h-screen w-full;
}

.guide__sidebar-transition {
  @apply min-h-full overflow-hidden transition-all duration-500 ease-in-out;
}

.guide__header {
  @apply h-[10svh] flex flex-row justify-end items-center py-8 w-full border-b border-customgreys-darkerGrey;
}

.guide__collapse-button {
  @apply text-primary-750 cursor-pointer rounded-sm h-7 w-7;
}

.guide__uncollapse-button {
  @apply overflow-hidden bg-primary-750 text-white-50 cursor-pointer hover:!bg-primary-700 py-2 px-4;
}

.guide__sidebar {
  @apply h-[90svh] w-full flex flex-col border-l border-b border-customgreys-darkerGrey bg-customgreys-sidebar;
}

.guide__main {
  @apply flex flex-col h-40 flex-grow;
}

.guide__chapter-text {
  @apply p-10 flex flex-col gap-4;
}

.guide__section-list {
  @apply flex flex-col w-full;
}

.guide__section-title {
  @apply text-xl font-semibold px-4 py-6 whitespace-nowrap;
}

.guide__chapter-list {
  @apply flex flex-col;
}

.guide__chapter {
  @apply text-md text-white-50 hover:bg-slate-800 p-5 transition-all duration-300 ease-in-out cursor-pointer whitespace-nowrap;
}

.guide__chapter-active {
  @apply bg-slate-800;
}
